.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/* 상단 제목 영역 */
.header {
  height: 50px;
  min-height: 50px;       /* 최소 높이 보장 */
  flex-shrink: 0;         /* flexbox에서 줄어들지 않게 */
  background-color: #3f51b5;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.8rem;
  font-weight: bold;
  justify-content: flex-end; /* 버튼 오른쪽 정렬 */
}

.header-title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  pointer-events: none;
}

.upload-btn {
  margin-left: auto;
  margin-right: 25px; /* 오른쪽에 24px 여백 추가 */
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  z-index: 1;
}

/* 하단 본문 영역 */
.content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.left {
  flex: 1.5; /* 20% 비율 */
  background-color: #e0f7fa;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  font-size: 1.4rem;
  font-weight: bold;
}

.right {
  flex: 8.5; /* 80% 비율 */
  background-color: #fff9c4;
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 1.4rem;
  font-weight: bold;
  flex-direction:column;
}

.left-list {
  text-align: left;
  padding-left: 5px;      /* 기본값 또는 원하는 만큼 양수로 */
  margin-left: 0;          /* 필요시 추가 */
  list-style-position: inside;
}